.app--header {
  position: relative;

  .app--logo {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    margin: 0 auto;
  }

  .app--navbar li {
    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
